@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */

:root {
  /* Khai báo màu CSS native nếu cần dùng với Tailwind (Optional) */
  --primary-red: #E60000;
  --font-inter: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Quan trọng: Áp dụng font cho toàn bộ body */
  font-family: var(--font-inter) !important;
  background-color: #fff;
  color: #333;
}

/* Đảm bảo các thẻ form cũng nhận font này */
input, button, textarea, select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
h1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
h2{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
p{
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #606060;

  /* text-align: justify; */
}
li{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #606060 !important;
  margin-left: 0;
}
.line{
  width: 45px;
  height: 5px;
  background: #FFFFFF;
  margin-top: 10px;
}
.line-1{
  width: 60%;
  height: 5px;
  background: var(--color-red);
  margin-top: 5px;
}
.line-2{
  width: 100px;
  height: 10px;
  background: #D9D9D9;
}
.line-3{
  width: 175px;
  height: 10px;
  background: #D9D9D9;
}
.line-red{
  width: 250px;
  height: 5px;
  background: var(--color-red);

}
.line-white{
  width: 60px;
  height: 5px;
  background: #FFFFFF;
  margin-top: 5px;
}
.main-children{
  margin-top: 100px;
}
.overlay{
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  background: rgba(83, 83, 83, 0.71);
}
h4{
  font-size: 17px;
  font-weight: 600;
  margin-left: 30px;
}
.margin-center{
  max-width: 1200px;
  margin: auto;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: var(--color-red);
  color:#fff;
}
li{
  color: #000;
}
@media screen and (max-width: 430px) {
  h1{
    font-size: 24px;
  }
  p{
    font-size: 12px;
    margin-top: 10px;
  }
  .main-children{
    margin-top: 140px;
  }
}
@media screen and (min-width: 431px) and (max-width: 834px){
  p{
    font-size: 14px;
    margin-top: 10px;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
